---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}

const partenaires = [
  {
    logo: "src/images/partenaires/Africtivistes.svg",
    name: "AfricTivistes",
    href: "https://www.africtivistes.com/",
  },
  {
    logo: "src/images/partenaires/afeonet.png",
    name: "AfEONET",
    href: "https://acfim.org/afeonet/",
  },
  {
    logo: "src/images/partenaires/e-horn.png",
    name: "E-HORN",
    href: "https://ehorn.org/",
  },
  {
    logo: "src/images/partenaires/EPD.png",
    name: "EPD",
    href: "https://epd.eu/",
  },
  {
    logo: "src/images/partenaires/esn-sa.png",
    name: "ESN-SA",
    href: "https://www.esn-sa.org/",
  },
  {
    logo: "src/images/partenaires/WAEON.png",
    name: "WAEON",
    href: "https://www.waeon.org/",
  },
  {
    logo: "src/images/partenaires/zesn.png",
    name: "ZESN",
    href: "https://www.zesn.org.zw/",
  },
];
---

<section class="">
  <!-- Title and description -->
  <div class="mx-auto max-w-3xl space-y-4 text-center">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-wrap items-center justify-center gap-8 overflow-x-auto py-4"
  >
    {
      partenaires.map((partenaire) => (
        <a
          href={partenaire.href}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src={partenaire.logo}
            alt={`Logo de ${partenaire.name}`}
            class="w-40"
            loading="lazy"
          />
        </a>
      ))
    }
  </div>
</section>
