---
import AfrictivistesLogo from "../../../images/partenaires/Africtivistes.svg";
import logosfds from "@images/partenaires/Africtivistes.svg";
import TabContent from "@/components/ui/blocks/TabContent.astro";
import Image from "astro/components/Image.astro";

interface Partenaire {
  logo: any;
  name: string;
  href: string;
}

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  partenaires: Partenaire[];
}

const { title, subTitle, partenaires } = Astro.props;
---

<section id="copyright" class="">
  <!-- Title and description -->
  <div class="mx-auto max-w-3xl space-y-4 text-center">
    <h1
      class="block text-balance text-center text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl lg:text-6xl lg:leading-tight"
    >
      <!-- About Fragment: https://docs.astro.build/en/basics/astro-syntax/#fragments -->
      <Fragment set:html={title} />
      <h1></h1>
      {
        subTitle && (
          <p class="text-pretty text-center leading-tight text-neutral-600 dark:text-neutral-400">
            {subTitle}
          </p>
        )
      }
    </h1>
    <div class="relative overflow-hidden md:mb-4">
      {
        partenaires.map((partenaire) => (
          <a href={partenaire.href} target="_blank">
            <Image
              src={partenaire.logo}
              alt={partenaire.name}
              class="h-100 mx-auto w-80 object-center mb-10"
              draggable={"false"}
              loading={"eager"}
            />
          </a>
        ))
      }
    </div>
  </div>
</section>
