---
import { slug } from "@/utils/slug";
import fs from "fs";
import path from "path";

interface Props {
  initiative: string;
  alt?: string;
  className?: string;
}

const {
  initiative,
  alt = "Image de l'initiative",
  className = "",
} = Astro.props;

// Déterminer le slug de l'initiative
let initiativeSlug = slug(initiative);


// Image par défaut en cas d'erreur
const defaultImage =
  "https://placehold.co/600x600?text=Soobu+No+Image+Available";

// Vérifier si l'image existe dans le système de fichiers
let imageExists = false;

// Vérifier si le fichier existe
if (initiativeSlug) {
  const publicDir = path.join(process.cwd(), "public", "initiatives");
  const filePath = path.join(publicDir, `${initiativeSlug}.webp`);

  if (fs.existsSync(filePath)) {
    imageExists = true;
  }
}

// Construire le chemin de l'image
const localImagePath =
  imageExists && initiativeSlug
    ? `/initiatives/${initiativeSlug}.webp`
    : defaultImage;
---

<div class={`initiative-image-container ${className}`}>
  <img
    src={localImagePath}
    alt={alt}
    class="max-h-96 w-full object-contain"
    loading="lazy"
    onerror={`this.src='${defaultImage}'; this.onerror=null;`}
  />
</div>

<style>
  .initiative-image-container img {
    transition: opacity 300ms;
  }
</style>
